@use 'layout';

.site-header {
  @include layout.d-flexV-align(flex, center, center, column);
  background-image: url('../images/header-background.png');
  background-color: layout.$bg-secondary;
  color: layout.$font-highlight;
  height: 400px;
  margin-bottom: 3rem;
  width: 100%;

  div {
    h2 {
      margin: 0;
    }
    span {
      font-weight: 300;
    }
  }
  
}