@use 'layout';

nav {
  @include layout.d-flexV-align(flex, center, space-between, initial);
  background-color: layout.$primary;
  color: layout.$font-highlight;
  height: 120px;
  width: 100%;
  padding: 1em 1.5em 0 1.5em;
  z-index: 1;
  position: fixed;
  top: 0;
  font-family: layout.$secondary-font;

  span {
    font-size: 1.5em;
  }

  div {
    @include layout.d-flexV-align(flex, center, initial, column);
    font-family: layout.$primay-font;
    font-size: 1rem;
  }

  i.icon {
    animation: 1.2s infinite alternate hover;
    color: layout.$highlight;
    font-size: 1.3rem;
  }

  i.icon:hover {
    cursor: pointer;
  }

  @keyframes hover {
    from {
      top: 8px;
    }

    to {
      top: 0;
    }
  }
}
