@use 'layout';

/*   MAIN ARTICLE TAG RULES    */

article.tweet {
  border: 4px solid layout.$border-primary;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding: 8px;
  
  section {
    border-bottom: 4px solid layout.$border-primary;
    padding: 0 1em 0 1em;
  }
  
  /*  HEADER RULES  */
  header {
    @include layout.d-flexV-align(flex, center, space-between, initial);
    padding: 1rem;
    
    span.username {
      margin-left: 0.5em;
    }
    
    div {
      align-items: center;
      display: flex;
      
      img#profile-img {
        height: 50px;
      }
    }

    .tweeter-handle {
      color: layout.$primary;
      font-weight: layout.$bold-font;
      font-size: 1.1rem;
      letter-spacing: 0.1px;
      opacity: 0.3;
    }
  }
  

  /*  FOOTER RULES  */
  footer {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    padding: 12px 30px;
    
    button.btn-icon {
      border: none;
      color: layout.$primary;
      font-size: 1rem;
      transition: color 0.2s ease-in;
    }
    
    button.btn-icon:hover {
      color: layout.$bg-secondary;
      cursor: pointer;
    }
  }
}

article.tweet:hover {
  box-shadow: 5px 5px 0px layout.$tweet-hover;
}