.user-info {
  align-items: center;
  background-image: url('../images/header-background.png');
  background-color: #c26400;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 400px;
  width: 100vw;
}

.user-info > div > h2 {
  margin: 0;
}

.user-info > span {
  font-weight: 300;
}
