.site-header {
  align-items: center;
  background-image: url('../images/header-background.png');
  background-color: #c26400;
  color: white;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin-bottom: 3rem;
  width: 100%;
}

.site-header > div > h2 {
  margin: 0;
}

.site-header > div > h2 > span {
  font-weight: 300;
}