nav {
  align-items: center;
  background-color: #4056A1;
  color: #fff;
  display: flex;
  height: 120px;
  justify-content: space-between;
  width: 100vw;
  padding: 0 1.5em 0 1.5em;
  z-index: 1;
}

nav > span {
  font-family: 'Bungee', sans-serif, cursive;
  font-size: 42px;
}

nav > div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.icon {
  color: orangered;
}