.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: auto;
}

form {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

form > div {
  align-items: start;
  display: flex;
  font-family: 'Bungee', sans-serif, cursive;
  justify-content: space-between;
  margin-top: 1rem;
}

form > label {
  text-align: left;
}

form > label {
  font-weight: 600;
}

#tweet-text {
  border: none;
  border-bottom: 4px solid #545149;
  background-color: inherit;
  font-size: 18px;
  font-weight: 600;
  height: 2em;
  outline: none;
  overflow: hidden;
  padding: .4rem 0 2em .2em;
}

.btn {
  background-color: #4056A1;
  border: none;
  color: white;
  padding: .3rem .8rem .3rem .8rem;
}